numpy==1.13.3
scipy==1.0.0
FireWorks==1.5.9
pymatgen==2017.10.16
pymatgen-db==0.7.0
pymatgen_diffusion==0.3.0
custodian==1.1.0
monty==1.0.2
paramiko==2.1.2
tqdm==4.14.0
six==1.11.0
pybtex==0.21
ruamel.yaml==0.15.34